<div class="windowWrapper">
  <div class="windowWrapper1">
  <div class="windowHeader">
    <p class="windowTitle">{{title}}</p>
  </div>
  <div   class="withScroll"><app-scene  class="w" *ngIf="scene"></app-scene></div>
  <div><app-panel class="wq" *ngIf="panel"></app-panel></div>
  <!-- <div class="withScroll"><app-toolpanel  class="w"   class="windowToolPanel" *ngIf="tool"></app-toolpanel></div> -->
  <div  class="withScroll w2">
      <app-mem *ngIf="showPanel"></app-mem>
    <app-gcods class="w1 w"   *ngIf="showPanel" [ngStyle]="{'visibility': data ==='C' ? 'visible' : 'hidden'}"></app-gcods>
    <app-active-tool class="w1 w" *ngIf="showPanel" [ngStyle]="{'visibility': data ==='ZERO RET' ? 'visible' : 'hidden' }"></app-active-tool>
    <app-toolpanel  class="w1 w" *ngIf="showPanel" [ngStyle]="{'visibility': d1&&d  ? 'visible' : 'hidden' }"></app-toolpanel>
    <app-program-list class="w1 w" *ngIf="showPanel"  [ngStyle]="{'visibility': data ==='LIST PROGRAM'  ? 'visible' : 'hidden' }"></app-program-list>
    <app-panel2 class="w w1 " *ngIf="showPanel"  [ngStyle]="{'visibility': data ==='EDIT'  ? 'visible' : 'hidden' }"></app-panel2>
    <app-inp class="w w1 " *ngIf="showPanel"  [ngStyle]="{'visibility': data ==='INSERT'  ? 'visible' : 'hidden' }"></app-inp>
    <!-- <app-mem class="w w1 " *ngIf="showPanel"  [ngStyle]="{'visibility': data ==='MEM'  ? 'visible' : 'hidden' }"></app-mem> -->
  </div>

</div>
</div>


