.windowWrapper{
    top: 100px;
    position: relative;
    height: 500px;
    width: 44%;
    border: 2px solid black;
    display: inline-block;
    margin: 2px 2%;
    overflow: none;
    .windowWrapper1{
        position: relative;
        top:-33px;
        height: 100%;
        overflow: hidden;
        .windowHeader{
            position: relative;
            background-color: blue;
            height: 50px;
            width: 100%;
            text-align: center;
            .windowTitle{
                color:white;
                font-size: 30px;
            }
        }
    }
}
.withScroll{
    overflow: hidden;
}
.w{
    overflow: hidden;
    height: 100%;
}