.startWrapper{
  width: 100%;//set dimension wrapper
  height: 94.5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  .wrapper1{
    flex:1;
    .app-t1{
      height: 100%;
      width: 100%;
    }
  }
  .wrapper2{
    flex:2;
    display: flex;
    .wrapper2a{
      flex:1;
      background-color: rgb(133, 192, 24);
    }
    .wrapper2b{
      flex:1;
      background-color: rgb(49, 70, 12);
    }
  }

}
app-scene{
  position: relative;
}
