<div class="startWrapper">
  <div class="wrapper1">
    <app-panel-wrapper Title={{title1}}><app-panel class="app-t1"></app-panel></app-panel-wrapper>
  </div>
  <div class="wrapper2">
      <div class="wrapper2a"><app-panel-wrapper Title={{title2}}><app-scene></app-scene></app-panel-wrapper></div>
      <div class="wrapper2b"><app-panel-wrapper Title={{panTitle}} >
        <app-mem  [ngStyle]="{'visibility': true ? 'visible' : 'hidden'}"></app-mem></app-panel-wrapper>
      </div>
  </div>
  <app-jog [ngStyle]="{'visibility': true ? 'visible' : 'hidden' }"></app-jog>
</div>
