<!-- panel buttons -->
<div class="panel-wrapper">
    <div class="col1-wrapper">
        <div class="col1a-wrapper">

            <div class="col1aa-wrapper">
                <button class="buttons1" *ngFor="let abc of res" (click)="ediT(abc)">{{abc}}</button>
            </div>
            <div class="col1ab-wrapper">
                <button class="buttons2" *ngFor="let abc of f" (click)="ediT(abc)">{{abc}}</button>
            </div>
        </div>
        <div class="col1b-wrapper">
            <div class="col1bA-wrapper">
                <button class="buttons3" *ngFor="let abc of XYZ" (click)="ediT(abc)">{{abc}}</button>
            </div>
        </div>
        <div class="col1c-wrapper">
            <div class="col1ca-wrapper">
              <div class="colD">overiders</div>
            </div>
        <div class="col1cA-wrapper">
            <button *ngFor="let abc of overiders" (click)="ediT(abc)">{{abc}}</button>
        </div>
      </div>
    </div>
    <div class="col2-wrapper">
        <div class="col2a-wrapper">
            <div class="col2a1-wrapper">
                <div class="col2a11-wrapper">
                  <div class="col2a12">display</div>
                  <div class="col2aA">
                      <button *ngFor="let abc of ofset"(click)="ediT(abc)">{{abc}}</button>
                  </div>
                </div>
                <div class="col2a12-wrapper"><div class="col2a12a">
                    <button *ngFor="let abc of dire"  (click)="ediT(abc)">{{abc}}</button>
                </div>
                </div>
            </div>
            <div class="col2a2-wrapper">
              <button *ngFor="let abc of edit" (click)="ediT(abc)">{{abc}}</button>
            </div>
        </div>
        <div class="col2b-wrapper">
            <div class="col2b1-wrapper">
              <button *ngFor="let abc of alphabrt" (click)="ediT(abc)">{{abc}}</button>
            </div>
            <div class="col2b2-wrapper">
              <button *ngFor="let abc of liczby" (click)="ediT(abc)">{{abc}}</button>
            </div>
        </div>

    </div>
</div>

