.btn-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    height: 100%;
    flex-basis: 50%;

    .btn{

        height: 20px;
        width: 7%;
        margin: auto auto
    }

}
