@import url('https://fonts.googleapis.com/css?family=Roboto:700i&display=swap');

.welcomeWrapper{
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: brown;
    .goalTitle{
        position: relative;
        top: 300px;
        font-family: 'Roboto', sans-serif;
        font-size: 80px;
        color: rgb(44, 41, 41);
    }
    .goalTitle2{
        position: relative;
        top: 320px;
        color: white;
    }
    .goalLink{
        position: relative;
        top: 350px;
        text-decoration: none;
        color: white;
    }
    
}


