
  <div class="wrapperToolPanel">
    <div class="wrapperToolPanelItem1">
        <div class="PanelItem11">
            <div class="PanelItem11a">Operation:{{mem}}</div>
            <div class="PanelItem11b"><app-toolpanel></app-toolpanel></div>
        </div>
        <div class="PanelItem12">
            <div class="PanelItem11b1">1ab1</div>
            <div class="PanelItem11b2">1ab2</div>
            <div class="PanelItem11b3">1ab3</div>
        </div>
    </div>
    <div class="wrapperToolPanelItem2">
        <div class="PanelItem2a">2a</div>
        <div class="PanelItem2b">2b</div>
        <div class="PanelItem2c">2c</div>
    </div>
    <div class="wrapperToolPanelItem3">3</div>
    <div class="wrapperToolPanelItem4">
        <div class="PanelItem4a"><app-inp></app-inp></div>
        <div class="PanelItem4b"><app-program ></app-program></div>
        <div class="PanelItem4c">4</div>
    </div>
  </div>


