

.wrapperToolPanel{
  height: 410px;
  display: flex;
  flex-direction: column;
  .wrapperToolPanelItem1{
    flex: 7;
    display: flex;
    .PanelItem11{
      flex:2;
      display: flex;
      flex-direction: column;
      .PanelItem11a{
        flex:2;
        background-color: grey;
      }
      .PanelItem11b{
        position: relative;
        flex:10;
        overflow: auto;
        background-color: brown;
        app-program{
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
    }
    .PanelItem12{
      flex:4;
      background-color: greenyellow;
      display: flex;
      div{
        margin-top: 20px;
        height: 30%;;
      }
      .PanelItem11b1{
        flex:1;
        background-color: green;
      }
      .PanelItem11b2{
        flex:2;
        background-color: rgb(6, 214, 6);
      }
      .PanelItem11b3{
        flex:3;
        background-color: rgb(1, 34, 1);
      }
    }
  }
  .wrapperToolPanelItem2{
    flex: 4;
    display: flex;
    .PanelItem2a{
      flex: 3;
      background-color: yellow;
    }
    .PanelItem2b{
      flex: 3;
      background-color: rgb(117, 117, 92);
    }
    .PanelItem2c{
      flex: 2;
      background-color: rgb(39, 39, 15);
    }
  }
  .wrapperToolPanelItem3{
    flex: 1;
    display: flex;
    background-color: blue;
    app-toolpanel{
      width: 100%;
      height: 100%;
    }

  }
  .wrapperToolPanelItem4{
    flex: 1;
    display: flex;
    .PanelItem4a{
      flex: 1;
      background-color: rgb(27, 189, 68);
    }
    .PanelItem4b{
      flex: 1;
      background-color: rgb(5, 54, 17);
    }
    .PanelItem4c{
      flex: 1;
      background-color: rgb(48, 59, 51);
    }
  }
  .wrapperToolPanelItem5{
    flex: 3;
    display: flex;
    background-color: darkolivegreen;
    .itemA{
      background-color: rgb(16, 22, 4);
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .itemAbutton{  //BUTTON
        background-color: crimson;
        height: 50%;
        width: 50%;
      }
    }
    .itemB{
      background-color: rgb(166, 175, 150);
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .itemAbuttonA{  //BUTTON
        background-color: rgb(48, 44, 45);
        height: 50%;
        width: 50%;
      }
    }
  }
}





